.char-component {
    display: inline-block;
    padding: 16px;
    text-align: center;
    margin: 16px;
    border: 1px solid greenyellow;
    cursor: pointer;
    transition: 0.5s;
}

.char-component:hover {
    background: lightgray;
    color: black;
}